services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    restart: unless-stopped
    environment:
      TZ: "${TZ}"
      FTLCONF_webserver_port: "${PIHOLE_WEB_PORT}"
      FTLCONF_webserver_address: "${PIHOLE_WEB_BIND}"
    volumes:
      - "./data/pihole:/etc/pihole"
      - "./data/dnsmasq.d:/etc/dnsmasq.d"
    cap_add:
      - NET_ADMIN
    depends_on:
      - unbound

  nginx:
    container_name: nginx
    image: nginx:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - "./config/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"
      - "./config/nginx/ssl:/etc/nginx/ssl:ro"
      - "./logs/nginx:/var/log/nginx"

  unbound:
    container_name: unbound
    image: klutchell/unbound:latest
    network_mode: host
    restart: unless-stopped
    environment:
      UNBOUND_INTERFACE: "${UNBOUND_INTERFACE}"
      UNBOUND_PORT: "${UNBOUND_PORT}"
    entrypoint: [ "unbound" ]
    command: [ "-d", "-c", "/etc/unbound/unbound.conf" ]
    volumes:
      - "./config/unbound/unbound.conf:/etc/unbound/unbound.conf:ro"
      - "./config/unbound/root.hints:/etc/unbound/root.hints:ro"