entryPoints:
  web:
    address: ":80"

api:
  dashboard: true
  insecure: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false


log:
  level: INFO

accessLog: {}
ping: {}