entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"


api:
  dashboard: true
  insecure: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

certificatesResolvers:
  stepca:
    acme:
      email: admin@home.arpa
      storage: /data/acme.json
      caServer: https://stepca:9000/acme/acme/directory
      tlsChallenge: true


log:
  level: INFO

accessLog: {}
ping: {}